/*************************************************
*              Globals                           *
**************************************************/

body {
    position: relative;
    height: 100%;
    padding-top: 50px;
}

.row {
    margin-right: 0;
}

.imagery {
    padding-top: 28px;
    text-align:center;
}

.imagery img {
    width: 60%;
}



/*************************************************
*              Navigation                        *
**************************************************/

.navbar {
    height: 75px;
}

nav.navbar .navbar-header{
    height: 75px;
}

.navbar-toggle {
    margin-top: 18px;
}

.navbar-inverse {
    background-color: rgb(148,166,164);
}

.navbar-inverse .navbar-nav > li > a {
    color: rgb(27,44,45)
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        float: left;
        margin-left: -15px;
        margin-top: 5px;
    }
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: rgb(207,209,218);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: rgb(207,209,218);
    text-transform: uppercase;
    top: 15px;
}

.navbar-brand {
    padding-top: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}


.navbar-inverse .navbar-collapse.collapse.in {
    background-color: rgb(148,166,164);
}

/*************************************************
*              Backgrounds                       *
**************************************************/

.background-black {
    background-color: rgb(10,10,13);
    color: rgb(113,135,133);
}

.background-blue {
    background-color: rgb(26,34,39);
    color: rgb(207,219,218);
    z-index: 99;
}

.background-grey {
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
}

.background-about {
    background-color: rgb(113, 127, 125);
    color: rgb(0, 0, 0);
}



/*************************************************
*             Section Text/Content               *
**************************************************/
/**
 *content
 */

.section-text {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    padding-bottom: 50px;
}

.section-text p, .section-text ul, .section-text .sub-heading{
    top: -20%;
}

.section-text .sub-heading {
    font-weight: bold;
}

/**
  * Header Tags
  */

.section-text h1, .section-text h3 .section-text h6{
    font-family: 'Cinzel', serif;
    line-height: 1;
}


.background-black .section-text h1, .background-black .section text h3, .background-black .section text h6 {
    color: rgb(207,219,218);
}

.background-blue .section-text h1, .background-blue .section text h3, .background-blue .section text h6{
    color: rgb(113,135,133);
}

.section-text h1{
    font-size: 3em;
}

.section-text h3{
    font-size: 1.2em;
    font-style: italic;
}
.section-text.blue h6 {
    font-size: .5em;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 1120px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1350px) {
    .container {
        width: 1170px
    }
}


/*************************************************
*              Welcome                           *
**************************************************/

#welcome .row {
    margin-right: 0;
    padding-bottom: 160px;
}

@media (max-width: 1024px) {
    .floating-gears {
        display: none;
    }

    .spin-gears {
        opacity: 0.6;
    }
}

/*************************************************
*                Intro                           *
**************************************************/

#intro .section-text h1 {
    width: 70%;
    color: rgb(28,46,55);
    font-size: 2.5em;
}

#intro .section-text p {
    width: 70%;
    color: rgb(52,70,76);
    margin-top: 10px;
}

#intro .section-text a {
    color: rgb(130,149,147);
}

@media (max-width: 1024px) {
    #intro .section-text {
        text-align: center;
    }

    #intro .section-text h1, #intro .section-text p {
        width: 100%;
    }
}

/*************************************************
*             Responsive Images                       *
**************************************************/
#process .col-md-4, #identity_intro .col-md-4, #marketing_intro .col-md-4, #packaging_intro .col-md-4, #publication_intro .col-md-4, #typography_intro .col-md-4 {
    padding-bottom: 30px;
}

@media (max-width: 980px) {
    #process .col-md-4, #identity_intro .col-md-4, #marketing_intro .col-md-4, #packaging_intro .col-md-4, #publication_intro .col-md-4, #typography_intro .col-md-4 {
        width: 100%;
        max-width: 70%;
    }

    #process .col-md-4 .card-header, #identity_intro .col-md-4 .card-header, #marketing_intro .col-md-4 .card-header,
    #packaging_intro .col-md-4 .card-header, #publication_intro .col-md-4 .card-header, #typography_intro .col-md-4 .card-header{
        font-size: .8em;
    }
}

#process .col-md-4 .card-header .main-heading, #identity_intro .col-md-4 .card-header .main-heading,
#marketing_intro .col-md-4 .card-header .main-heading, #packaging_intro .col-md-4 .card-header .main-heading, #publication_intro .col-md-4 .card-header .main-heading,
#typography_intro .col-md-4 .card-header .main-heading {
    font-size: 1.8em;
    padding-top: 10px;
}

#process .card-header .sub-heading, #identity_intro .card-header .sub-heading, #marketing_intro .card-header .sub-heading,
#packaging_intro .card-header .sub-heading, #publication_intro .card-header .sub-heading, #typography_intro .card-header .sub-heading{
    font-size: 1em;
    margin-top: -5px;
    font-weight: 900;
    padding-top: 10px;
}

@media (max-width: 480px) {
    #azinis .col-md-2.imagery img{
        width: 100%;
        max-width: 40%;
    }
}

@media (min-width: 481px) and (max-width: 980px) {
    #azinis .col-md-2.imagery img{
        width: 100%;
        max-width: 30%;
    }
}

/*************************************************
*             Process                         *
**************************************************/

#process .col-md-6.imagery img{
    margin-top: -100px;
    width: 80%;
    padding-bottom: 50px;
    padding-top: 30px;
}



/*************************************************
*             Identity                          *
**************************************************/

#identity .col-md-6.imagery img{
    width: 50%;
    padding-bottom: 50px;
}

@media (min-width: 1024px) {
    #identity .col-md-6.imagery img{
        width: 80%;
        padding-bottom: 50px;
        margin-left: 30%;
    }
}

#identity .col-md-4 {
    padding-bottom: 30px;
}


@media (max-width: 980px) {
    #identity .col-md-4 {
        width: 100%;
        max-width: 70%;
    }

    #identity .col-md-4 .card-header{
        font-size: .8em;
    }
}

#identity .col-md-4 .card-header .main-heading {
    font-size: 1.8em;
}

/*************************************************
*             Marketing                          *
**************************************************/

#marketing .col-md-6.imagery img{
    width: 70%;
    padding-bottom: 50px;
}

@media (min-width: 1024px) {
    #marketing .col-md-6.imagery img{
        width: 90%;
        margin-top: 30%;
        padding-bottom: 50px;
        margin-left: 30%;
    }
}

/*************************************************
*             Packaging                          *
**************************************************/

#packaging .col-md-6.imagery img{
    width: 80%;
    padding-bottom: 50px;
}

@media (min-width: 1024px) {
    #packaging .col-md-6.imagery img{
        width: 90%;
        margin-top: 30%;
        padding-bottom: 50px;
        margin-left: 30%;
    }
}
/*************************************************
*             Publication                          *
**************************************************/
#publication .row {
    padding-bottom: 50px;
}

#publication .col-md-6 .imagery {
    padding-left: 100px;
}

#publication .col-md-6.imagery img{
    padding-left: 100px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}

@media (min-width: 1024px) {
    #publication .col-md-6.imagery img{
        width: 130%;
        margin-top: 30%;
        padding-bottom: 50px;
    }
}

/*************************************************
*             Typography                         *
**************************************************/

#typography .col-md-6.imagery img{
    width: 100%;
    padding-bottom: 50px;
}

@media (min-width: 1024px) {
    #typography .col-md-6.imagery img{
        width: 130%;
        margin-top: 30%;
        padding-bottom: 50px;
    }
}

/*************************************************
*              About                         *
**************************************************/

#about .section-text h1, #about .section-text h3, #about .section-text .sub-heading, #about .section-text p {
    color: rgb(27,44,45);
}

/*************************************************
*              Contact                          *
**************************************************/

#contact .contactCard{
    width: 300px;
    height: 40px;
    background-color: rgb(148,166,164);
}

#contact .contactIcon {
    width: 300px;
    height: 300px;
    padding: 2px;
    border: 2px solid rgb(148,166,164);
    background-color: rgb(28,45,54);
    margin: 2px 2px 2px -.5px;
}

#contact .contactHeader h3{
    text-align:center;
    padding-top: 5px;
}

#contact .card-header {
    font-family: "Cinzel", sans-serif;
    background-color: rgb(148,166,164);
    height: 55px;
    text-align: center;
    color: rgb(26,43,54);
}


#contact .card-header .main-heading {
    font-size: 2.0em;
}

#contact .card-header .sub-heading {
    font-size: 1em;
    margin-top: -5px;
    font-weight: 900;
}

#contact .card-body {
    background-color: rgb(26,45,54);
    text-align: center;
}

#contact .card-body img {
    width: 60%;
}

@media (max-width: 980px) {
    #contact .card-body img {
        width: 40%;
    }
}

#contact .col-md-4 {
    margin-bottom: 25px;
}

@media (max-width: 1024px) {
    #intro .section-text h1, #intro .section-text p {
        width: 100%;
    }
}

#contact a {
    color: rgb(207,209,218);
}

/*************************************************
*              Carousels                         *
**************************************************/
.carousel .row {
    padding-bottom: 75px;
}

.carousel .imagery {
    text-align: center;
    padding-top: 25px;
}

.carousel-control img {
    margin-top: 70%;
}

.col-xs-3 {
    padding-top: 45px;
    left: 22%;
    display: inline;
    width: 10%;
}

/*************************************************
*              Sub Pages                         *
**************************************************/

.intro.container {
    padding-top: 50px;
}

.spacer-sm {
    padding-bottom: 15px;
}

.spacer-md {
    padding-bottom: 30px;
}

.spacer-lg {
    padding-bottom: 45px;
}

