html {

}

body {
    padding: 10px;
    font-family: "Lato",serif;
    font-size: 1.5em;
    color: #A7A9AB;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: left;
    line-height: 150%;
}

html, body {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    background-color: rgb(10,10,13);
}

#content {
    width: 80%;
    margin: 5% auto auto 15%;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1 {
    font-size: 3em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

/*===================================================== Section Text =================================================*/
/*----- Section 01 h1 -----*/


h1.sectionText01-a{
    margin-top: 5%;
    padding-top: 2%;
    margin-left: 35%;
    color: rgb(207,219,218);
    text-align: left;
}

h1.sectionText01{
    margin-top: 19.5%;
    padding-top: 2%;
    margin-left: 46%;
    color: rgb(207,219,218);
    text-align: left;
}

h1.sectionText02 {
    margin-top: 19.5%;
    margin-left: 46%;
    padding-top: 2%;
    color: rgb(113,135,133);
    text-align: left;
}

h3.sectionText03 {
    margin-left: 35%;
    font-size: 1.5em;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    line-height: 1;
    color: rgb(113,135,133);
    text-align: left;
}

h2 {
    font-size: 2em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bolder;
    line-height: 1;
    color: rgb(113,135,133);
}

h4 {
    font-size: .75em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bolder;
}

h5 {
    font-size: .5em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bolder;
}

h6 {
    font-size: .5em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bolder;
    color: rgb(113,135,133);
}

p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: normal;
    line-height: 1.5;
    color: rgb(207,219,218);
}

p.sectionText01-a {
    top: -20%;
    margin-left: 35%;
    color: rgb(113,135,133);
    text-align: left;
}

p.sectionText01 {
    top: -20%;
    margin-left: 46%;
    color: rgb(113,135,133);
    text-align: left;
}

p.sectionText02 {
    top: -20%;
    margin-left: 46%;
    color: rgb(207,219,218);
    text-align: left;
}

.sectionText01 ul {
    top: -20%;
    margin-left: 46%;
    color: rgb(113,135,133);
    text-align: left;
}

.contactText {
    width: 60%;
    margin-top: 3%;
    margin-left: 15%;
}

.contactList {
    width: 100%;
    margin-top: 1%;
    margin-left: 52%;
    text-align: left;
}

.contactList ul {
    list-style-type: none;
}

#contactList ul a:link{
    color: rgb(113,135,133);
}

.contactList ul a:active{
    color: rgb(207,219,218);
}
.contactList ul a:hover {
    color: rgb(207,219,218);
}

#contactFooter a:link{
    color: rgb(113,135,133);
}

.contactFooter a:active{
    color: rgb(207,219,218);
}
.contactFooter a:hover {
    color: rgb(207,219,218);
}

/*============================================ Horizontal Navigation =================================================

.navbar {
    top: 0;
    width: 100%;
    height: 15%;
    background-color: rgb(10,10,13);
    display: block;
    z-index: 9999;
}

.navbar-default {
    background-color: rgb(71,72,76);
    border-bottom: 1px rgb(113, 135, 133);
    height: 9%;
}

.navbar-fixed-top {

}

.navbar-header{
    top: 20%;
    left: 0;
    height: 12%;
    width: 100%;
    z-index: 9998;
}


.navbar-brand {
    margin-top: -3.5%;
    left: 30%;
    padding-left: 10%;
    z-index: 9999;
}

.navbar ul {
    margin: 10px;
    padding: 3px 3px 3px 27.5%;
}

.navbar ul li {
    text-align: left;
    padding-right: 15px;
    display: inline-block;
    color: rgb(207,219,218);
}

.navbar ul li a{
    color: rgb(207,219,218);
}

nav ul li a:link{
    color: rgb(113,135,133);
}

nav ul li a:active{
    color: rgb(207,219,218);
}

.navbar ul li a:hover {
    color: rgb(207,219,218);
}

*/

/*====================================================== Drop Horizontal Navigation ===============================*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(71,72,76);
    z-index: 9999;
}

.navbar {
    top: -45%;
    left: 8%;
    width: 100%;
    padding: 3px;
}

.navbar-header{
    width: 100%;
    margin-top: -3.5%;
    margin-left: -8%;
    padding-left: 10%;
}
.navbar-brand {
    margin-top: -.5%;
    margin-left: -5%;
    padding-left: 10%;
    z-index: 9999;
}

.navbar ul {
    margin: 10px;
    width: 100%;
    padding: 3px;
    padding-left: 10%;
}

.navbar ul li {
    text-align: left;
    display: inline-block;
    color: rgb(113,135,133);
    background-color: transparent;
}

.navbar ul li a{
    color: rgb(113,135,133);
    background-color: transparent;
}

/*---add this to remove li background color from bootstrap and to have text change color on hover---*/
.nav>li>a:hover, .nav>li>a:focus{
    background-color: transparent;
    color: rgb(207,219,218);
}



.nav ul li a.active {
    color: rgb(207, 219, 218);
    text-transform: uppercase;
    top: 15px;
}

/*========================================================= Sections ================================================*/

/*-- Welcome --*/
#section01 {
    position: fixed;
    top: 28%;
    left: 18%;
    height: 100%;
    width: 45%;

    -webkit-animation-name: welcome; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: welcome;
    animation-duration: 4s;
    animation-iteration-count: 1;

}

/* Chrome, Safari, Opera */

@-webkit-keyframes welcome{
    0%   { top:1000px;}
    100% { top:28%;;}
}

/* Standard syntax */

@keyframes welcome{
    0%   {top:1000px;}
    100% { top:28%;;}
}

/*----- Section Text ------*/

.sectionText {
    width: 60%;
    margin-top: -3%;
    margin-left: -13.5%;
    text-align: left;
}

.sectionTextList {
    width: 60%;
    margin-top: -3%;
    margin-left: 15%;
}


/*-- Process --*/
#section02 {
    position: absolute;
    top: 200%;
    height: 120%;
    width: 100%;
    background-color: rgb(26,34,39);
}

#section02 ul{
    color: rgb(113,135,133);
    margin-left: 46%;
}

.processVisual {
    margin-top: -28%;
    margin-left: 50%;
}

/*-- Identity --*/
#section03 {
    position: absolute;
    top: 320%;
    height: 145%;
    width: 100%;
    background-color: rgb(10,10,13);
}

.identityVisual {
    margin-top: -46%;
    margin-left: 50%;
}

/*-- Marketing --*/
#section04 {
    position: absolute;
    top: 465%;
    height: 130%;
    width: 100%;
    background-color: rgb(26,34,39);
}


.marketingVisual {
    margin-top: -33%;
    margin-left: 50%;
}


/*-- Publications --*/
#section05 {
    position: absolute;
    top: 595%;
    height: 115%;
    width: 100%;
    background-color: rgb(10,10,13);
}

.publicationsVisual {
    margin-top: -5%;
    margin-left: 50%;
}

/*-- Packaging --*/
#section06 {
    position: absolute;
    top: 710%;
    height: 150%;
    width: 100%;
    background-color: rgb(26,34,39);
}

.packagingVisual {
    margin-top: -40%;
    margin-left: 50%;
}

/*-- About --*/
#section07{
    position: absolute;
    top: 855%;
    height: 110%;
    width: 100%;
    background-color: rgb(10,10,13);
}

.aboutVisual {
    margin-top: -26%;
    margin-left: 50%;
}


/*-- Contact --*/
#section08 {
    position: absolute;
    top: 955%;
    height: 180%;
    width: 100%;
    background-color: rgb(26,34,39);
}


/*======================================================= Vertical Dot Navigation =================================*/

.vNav {
    position: fixed;
    top: 20%;
    left: 88%;
    width: 50px;
    z-index: 9999;
    list-style-type: none;
}

.vNav ul {
    position: relative;
    padding: 3px;
    padding-left: 35%;
}

.vNav ul li{
    position: relative;
    padding-bottom: 20px;
    padding-left: 35%;
    color: rgb(113,135,133);
}

.vNav a{
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(113,135,133);
    text-decoration: none;
}

.vNav a:hover{
    border-radius: 50%;
    background-color: rgb(113,135,133);
    text-decoration: none;
}

.vNav a.active{
    border-radius: 50%;
    background-color: rgb(207,219,218);
    text-decoration: none;
}

.label {
    position: relative;
    top: -60%;
    left: -200%;
    width: 100%;
    text-align: right;
    font-size: 1em;
    color: rgb(207,219,218);
    display: none;
}

/*---
#welcome {
    position: fixed;
    top: 28%;
    left: 18%;
    height: 100%;
    width: 45%;
}

#process {
    position: absolute;
    top: 200%;
    height: 120%;
    width: 100%;
}

#identity {
    position: absolute;
    top: 320%;
    height: 140%;
    width: 100%;
}

#marketing {
    position: absolute;
    top: 460%;
    height: 130%;
    width: 100%;
}

#publication {
    position: absolute;
    top: 580%;
    height: 105%;
    width: 100%;
}

#packaging {
    position: absolute;
    top: 680%;
    height: 150%;
    width: 100%;
}

#about{
    position: absolute;
    top: 820%;
    height: 110%;
    width: 100%;
}

#contact {
    position: absolute;
    top: 930%;
    height: 120%;
    width: 100%;
}
--*/


/*======================================================== Sections Navigation ====================================*/

.previousArrow {
    position: absolute;
    top: 40%;
    left: 10%;
}

.nextArrow {
    position: absolute;
    top: 40%;
    left: -50%;
}

/*======================================================== Sections Carousel =================== ====================*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.galleryCarousel {
    height: 120%;
    width: 100%;
}

/*======================================================== Sections ===============================================*/

/*----------- backgrounds -------------------

section {
    position: relative;
    height: 100%;
    width: 100%;
}

section.intro {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 2%;
}

section.gears {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5%;
    left: -8%;
}

section.pearlIntro {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 10%;
}

.welcome {
    position: fixed;
    top: 28%;
    left: 18%;
    height: 100%;
    width: 45%;

    -webkit-animation-name: welcome; /* Chrome, Safari, Opera */
  /*  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  /*  -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
  /*  animation-name: welcome;
    animation-duration: 4s;
    animation-iteration-count: 1;

}

/* Chrome, Safari, Opera */
/*
@-webkit-keyframes welcome{
    0%   { top:1000px;}
    100% { top:28%;;}
}

/* Standard syntax */
/*
@keyframes welcome{
    0%   {top:1000px;}
    100% { top:28%;;}
}

/*-- section 02 --*/
/*
.process {
    position: absolute;
    top: 200%;
    height: 120%;
    width: 100%;
    background-color: rgb(26,34,39);
}

.processText {
    width: 60%;
    margin-top: -3%;
    margin-left: -8%;
}

.process ul{
    color: rgb(207,219,218);
    margin-left: 46%;
}

.processVisual {
    margin-top: -28%;
    margin-left: 58%;
}

/*-- section 03 --*/
/*
.identity {
    position: absolute;
    top: 320%;
    height: 140%;
    width: 100%;
    background-color: rgb(10,10,13);
}

.identityText {
    width: 60%;
    margin-top: -3%;
    margin-left: -8%;
}

.identityVisual {
    margin-top: -46%;
    margin-left: 59%;
}

/*-- section 04 --*/
/*
.marketing {
    position: absolute;
    top: 460%;
    height: 130%;
    width: 100%;
    background-color: rgb(26,34,39);
}

.marketingText {
    width: 60%;
    margin-top: -3%;
    margin-left: -8%;
}

.marketingVisual {
    margin-top: -33%;
    margin-left: 60%;
}

/*-- section 05 --*/
/*
.publications {
    position: absolute;
    top: 580%;
    height: 105%;
    width: 100%;
    background-color: rgb(10,10,13);
}

.publicationsText {
    width: 60%;
    margin-top: -3%;
    margin-left: -8%;
}

.publicationsVisual {
    margin-top: -5%;
    margin-left: 58%;
}

/*-- section 06 --*/
/*
.packaging {
    position: absolute;
    top: 680%;
    height: 150%;
    width: 100%;
    background-color: rgb(26,34,39);
}

.packagingText {
    width: 60%;
    margin-top: -3%;
    margin-left: -8%;
}

.packagingVisual {
    margin-top: -40%;
    margin-left: 60%;
}

/*-- section 07 --*/
/*
.about {
    position: absolute;
    top: 820%;
    height: 110%;
    width: 100%;
    background-color: rgb(10,10,13);
}

.aboutText {
    width: 60%;
    margin-top: -3%;
    margin-left: -8%;
    text-align: left;
}

.aboutText a:link{
    color: rgb(113,135,133);
}

.aboutText a:active{
    color: rgb(207,219,218);
}

.aboutText a:hover {
    color: rgb(207,219,218);
}

.aboutVisual {
    margin-top: -26%;
    margin-left: 61%;
}

/*-- section 08 --*/
/*
.contact {
    position: absolute;
    top: 930%;
    height: 120%;
    width: 100%;
    background-color: rgb(26,34,39);
}

.contactText {
    width: 60%;
    margin-top: -3%;
    margin-left: -8%;
}

.contactList {
    width: 100%;
    margin-top: -3%;
    margin-left: 52%;
    text-align: left;
}

.contactList ul {
    list-style-type: none;
}

#contactList ul a:link{
    color: rgb(113,135,133);
}

.contactList ul a:active{
    color: rgb(207,219,218);
}
.contactList ul a:hover {
    color: rgb(207,219,218);
}

#contactFooter a:link{
    color: rgb(113,135,133);
}

.contactFooter a:active{
    color: rgb(207,219,218);
}
.contactFooter a:hover {
    color: rgb(207,219,218);
}



/*====================================================  INTRO ANIMATION ==============================================*/

section {
    position: relative;
    height: 100%;
    width: 100%;
}

section.intro {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 2%;
}

section.gears {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5%;
    left: -8%;
}

section.pearlIntro {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 3%;
}

/*----------------------------- Left Spinning Cog Background ----------------*/


#lGear01 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 18.5%;
    left: 10%;
    background-image: url(../img/intro/flGearXXLg.png);
    opacity: .15;

    -webkit-animation: flGear01 7s infinite linear;
    -moz-animation: flGear01 7s infinite linear;
    -o-animation: flGear01 7s infinite linear;
    -ms-animation: flGear01 7s infinite linear;
    animation: flGear01 7s infinite linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-webkit-keyframes flGear01 {
    0% { -webkit-transform: rotate3d(0,0,15,0deg);}
    100% { -webkit-transform: rotate3d(0,0,15,360deg);}
}
@-moz-keyframes flGear01 {
    0% { -moz-transform: rotate3d(0,0,15,0deg); }
    100% { -moz-transform: rotate3d(0,0,15,360deg);}
}
@-o-keyframes flGear01 {
    0% { -o-transform: rotate3d(0,0,15,0deg);}
    100% { -o-transform: rotate3d(0,0,15,360deg);}
}
@-ms-keyframes flGear01 {
    0% { -ms-transform: rotate(0,0,15,0deg);}
    100% { -ms-transform: rotate(0,0,15,360deg);}
}

#lGear02 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 34%;
    left: 24%;
    background-image: url(../img/intro/flGearXLg.png);
    opacity: .9;

    -webkit-animation: flGear02 7s infinite linear;
    -moz-animation: flGear02 7s infinite linear;
    -o-animation: flGear02 7s infinite linear;
    -ms-animation: flGear02 7s infinite linear;
    animation: flGear02 7s infinite linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-webkit-keyframes flGear02 {
    0% { -webkit-transform: rotate3d(0,0,15,360deg);}
    100% { -webkit-transform: rotate3d(0,0,15,0deg);}
}
@-moz-keyframes flGear02 {
    0% { -moz-transform: rotate3d(0,0,15,360deg); }
    100% { -moz-transform: rotate3d(0,0,15,0deg);}
}
@-o-keyframes flGear02 {
    0% { -o-transform: rotate3d(0,0,15,360deg);}
    100% { -o-transform: rotate3d(0,0,15,0deg);}
}
@-ms-keyframes flGear02 {
    0% { -ms-transform: rotate(0,0,15,360deg);}
    100% { -ms-transform: rotate(0,0,15,0deg);}
}

#lGear03 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 28%;
    background-image: url(../img/intro/flGearLg.png);
    opacity: .2;


    -webkit-animation: flGear03 7s infinite linear;
    -moz-animation: flGear03 7s infinite linear;
    -o-animation: flGear03 7s infinite linear;
    -ms-animation: flGear03 7s infinite linear;
    animation: flGear03 7s infinite linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-webkit-keyframes flGear03 {
    0% { -webkit-transform: rotate3d(0,0,15,0deg);}
    100% { -webkit-transform: rotate3d(0,0,15,360deg);}
}
@-moz-keyframes flGear03 {
    0% { -moz-transform: rotate3d(0,0,15,0deg); }
    100% { -moz-transform: rotate3d(0,0,15,360deg);}
}
@-o-keyframes flGear03 {
    0% { -o-transform: rotate3d(0,0,15,0deg);}
    100% { -o-transform: rotate3d(0,0,15,360deg);}
}
@-ms-keyframes flGear03 {
    0% { -ms-transform: rotate(0,0,15,0deg);}
    100% { -ms-transform: rotate(0,0,15,360deg);}
}

/*----------------------------------------------------- pearls -------------------------------------------------------*/
#pearl01 {
    position: absolute;
    margin-top: 8%;
    left: 79%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white radial-gradient(
            circle at top right,
            rgb(207, 219, 218),
            rgb(113, 135, 133),
            rgb(39, 62, 72)
    );

    -webkit-animation-name: pearl01; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .8s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: pearl01;
    animation-duration: .8s;
    animation-iteration-count: 1;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes pearl01{
    0%   {left:79%; top:500px;}
    100% {left:79%; top:0;}
}

/* Standard syntax */
@keyframes pearl01{
    0%   {left:79%; top:500px;}
    100% {left:79%; top:0;}
}

#pearl02 {
    position: absolute;
    left: 83%;
    margin-top: 13%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white radial-gradient(
            circle at top right,
            rgb(207, 219, 218),
            rgb(113, 135, 133),
            rgb(39, 62, 72)
    );
    -webkit-animation-name: pearl02; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.25s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: pearl02;
    animation-duration: 1.25s;
    animation-iteration-count: 1;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes pearl02{
    0%   {left:83%; top:600px;}
    100% {left:83%; top:0;}
}

/* Standard syntax */
@keyframes pearl02{
    0%   {left:83%; top:600px;}
    100% {left:83%; top:0;}
}

#pearl03 {
    position: absolute;
    left: 75%;
    margin-top: 16%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white radial-gradient(
            circle at top right,
            rgb(207, 219, 218),
            rgb(113, 135, 133),
            rgb(39, 62, 72)
    );

    -webkit-animation-name: pearl03; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: pearl03;
    animation-duration: 1.5s;
    animation-iteration-count: 1;

}


/* Chrome, Safari, Opera */
@-webkit-keyframes pearl03{
    0%   {left:75%; top:700px;}
    100% {left:75%; top:0;}
}

/* Standard syntax */
@keyframes pearl03{
    0%   {left:75%; top:700px;}
    100% {left:75%; top:0;}
}

#pearl04 {
    position: absolute;
    left: 82%;
    margin-top: 19%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white radial-gradient(
            circle at top right,
            rgb(207, 219, 218),
            rgb(113, 135, 133),
            rgb(39, 62, 72)
    );

    -webkit-animation-name: pearl04; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.75s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: pearl04;
    animation-duration: 1.75s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pearl04{
    0%   {left:82%; top:800px;}
    100% {left:82%; top:0;}
}

/* Standard syntax */
@keyframes pearl04{
    0%   {left:82%; top:800px;}
    100% {left:82%; top:0;}
}


#pearl05 {
    position: absolute;
    left: 70%;
    margin-top: 22%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white radial-gradient(
            circle at top right,
            rgb(207, 219, 218),
            rgb(113, 135, 133),
            rgb(39, 62, 72)
    );

    -webkit-animation-name: pearl05; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: pearl05;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pearl05{
    0%   {left:70%; top:800px;}
    100% {left:70%; top:0;}
}

/* Standard syntax */
@keyframes pearl05{
    0%   {left:70%; top:800px;}
    100% {left:70%; top:0;}
}

#pearl06 {
    position: absolute;
    left: 72%;
    margin-top: 24.5%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white radial-gradient(
            circle at top right,
            rgb(207, 219, 218),
            rgb(113, 135, 133),
            rgb(39, 62, 72)
    );

    -webkit-animation-name: pearl06; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.25s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: pearl06;
    animation-duration: 2.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pearl06{
    0%   {left:72%; top:800px;}
    100% {left:72%; top:0;}
}

/* Standard syntax */
@keyframes pearl06{
    0%   {left:72%; top:800px;}
    100% {left:72%; top:0;}
}


#pearl07 {
    position: absolute;
    left: 82.5%;
    margin-top: 29.5%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white radial-gradient(
            circle at top right,
            rgb(207, 219, 218),
            rgb(113, 135, 133),
            rgb(39, 62, 72)
    );

    -webkit-animation-name: pearl07; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.5s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: pearl07;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pearl07{
    0%   {left:82.5%; top:800px;}
    100% {left:82.5%; top:0;}
}

/* Standard syntax */
@keyframes pearl07{
    0%   {left:82.5%; top:800px;}
    100% {left:82.5%; top:0;}
}

#pearl08 {
    position: absolute;
    left: 64%;
    margin-top: 26%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white radial-gradient(
            circle at top right,
            rgb(207, 219, 218),
            rgb(113, 135, 133),
            rgb(39, 62, 72)
    );

    -webkit-animation-name: pearl08; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.75s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: pearl08;
    animation-duration: 2.75s;
    animation-iteration-count: 1;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes pearl08{
    0%   {left:64%; top:800px;}
    100% {left:64%; top:0;}
}

/* Standard syntax */
@keyframes pearl06{
    0%   {left:74%; top:800px;}
    100% {left:74%; top:0;}
}


/*------------------------------------------------- flowers ----------------------------------------------------------*/
#flower01 {
    position:absolute;
    left: 81%;
    margin-top: 10%;

    -webkit-animation-name: flower01; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower01;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower01{
    0%   {left:81%; top:800px;}
    100% {left:81%; top:0;}
}

/* Standard syntax */
@keyframes flower01{
    0%   {left:81%; top:800px;}
    100% {left:81%; top:0;}
}

#flower02 {
    position:absolute;
    left: 79%;
    margin-top: 14%;

    -webkit-animation-name: flower02; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.3s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower02;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower02{
    0%   {left:79%; top:800px;}
    100% {left:79%; top:0;}
}

/* Standard syntax */
@keyframes flower02{
    0%   {left:79%; top:800px;}
    100% {left:79%; top:0;}
}

#flower03 {
    position:absolute;
    left: 83%;
    margin-top: 16%;

    -webkit-animation-name: flower03; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.7s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower03;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower03{
    0%   {left:83%; top:800px;}
    100% {left:83%; top:0;}
}

/* Standard syntax */
@keyframes flower03{
    0%   {left:83%; top:800px;}
    100% {left:83%; top:0;}
}

#flower04 {
    position:absolute;
    left: 83%;
    margin-top: 24%;

    -webkit-animation-name: flower04; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower04;
    animation-duration: 2.2s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower04{
    0%   {left:83%; top:800px;}
    100% {left:83%; top:0;}
}

/* Standard syntax */
@keyframes flower04{
    0%   {left:83%; top:800px;}
    100% {left:83%; top:0;}
}

#flower05 {
    position:absolute;
    left: 75%;
    margin-top: 22%;

    -webkit-animation-name: flower05; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.7s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower05;
    animation-duration: 2.7s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower05{
    0%   {left:75%; top:800px;}
    100% {left:75%; top:0;}
}

/* Standard syntax */
@keyframes flower05{
    0%   {left:75%; top:800px;}
    100% {left:75%; top:0;}
}

#flower06 {
    position:absolute;
    left: 68%;
    margin-top: 23.5%;
    transform: rotate(30deg);

    -webkit-animation-name: flower06; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.3s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower06;
    animation-duration: 2.3s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower06{
    0%   {left:68%; top:800px;}
    100% {left:68%; top:0;}
}

/* Standard syntax */
@keyframes flower06{
    0%   {left:68%; top:800px;}
    100% {left:68%; top:0;}
}

#flower07 {
    position:absolute;
    left: 69.5%;
    margin-top: 27%;
    transform: rotate(13deg);

    -webkit-animation-name: flower07; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.9s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower07;
    animation-duration: 1.9s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower07{
    0%   {left:69.5%; top:800px;}
    100% {left:69.5%; top:0;}
}

/* Standard syntax */
@keyframes flower07{
    0%   {left:69.5%; top:800px;}
    100% {left:69.5%; top:0;}
}

#flower08 {
    position:absolute;
    left: 81%;
    margin-top: 32%;
    transform: rotate(20deg);

    -webkit-animation-name: flower08; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower08;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower08{
    0%   {left:81%; top:800px;}
    100% {left:81%; top:0;}
}

/* Standard syntax */
@keyframes flower08{
    0%   {left:81%; top:800px;}
    100% {left:81%; top:0;}
}

#flower09 {
    position:absolute;
    left: 71%;
    margin-top: 35%;
    transform: rotate(30deg);
    z-index: 10;

    -webkit-animation-name: flower09; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.6s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower09;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower09{
    0%   {left:71%; top:800px;}
    100% {left:71%; top:0;}
}

/* Standard syntax */
@keyframes flower09{
    0%   {left:71%; top:800px;}
    100% {left:71%; top:0;}
}

#flower10 {
    position:absolute;
    left: 67%;
    margin-top: 31%;
    transform: rotate(30deg);
    z-index: 10;

    -webkit-animation-name: flower10; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: flower10;
    animation-duration: 2.1s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flower10{
    0%   {left:67%; top:800px;}
    100% {left:67%; top:0;}
}

/* Standard syntax */
@keyframes flower10{
    0%   {left:67%; top:800px;}
    100% {left:67%; top:0;}
}

i.sm {
    display: inline-block;
    width: 0;
    height: 0;
    padding: 8px 4px;
    transform: rotate(60deg);
    border-top-left-radius: 99px;
    border-bottom-right-radius: 99px;
    background: rgba(0, 0, 0, .2) radial-gradient(
            circle at top right,
            rgba(207, 219, 218, .8),
            rgba(113, 135, 133, .8),
            rgba(39, 62, 72, .8),
            rgba(207, 219, 218, .8)
    );
}

/*-------------------------------------------------- Flower Petals ---------------------------------------------------*/
i.med {
    display: inline-block;
    width: 0;
    height: 0;
    padding: 8px 4px;
    transform: rotate(45deg);
    border-top-left-radius: 99px;
    border-bottom-right-radius: 99px;
    background: rgba(0, 0, 0, .2) radial-gradient(
            circle at top right,
            rgba(207, 219, 218, .8),
            rgba(113, 135, 133, .8),
            rgba(39, 62, 72, .8),
            rgba(207, 219, 218, .8)
    );
}

i.lg {
    display: inline-block;
    width: 0;
    height: 0;
    padding: 14px 7px;
    transform: rotate(72deg);
    border-top-left-radius: 99px;
    border-bottom-right-radius: 99px;
    background: rgba(0, 0, 0, .2) radial-gradient(
            circle at top right,
            rgba(207, 219, 218, .8),
            rgba(113, 135, 133, .8),
            rgba(39, 62, 72, .8),
            rgba(207, 219, 218, .8)
    );
}

/*---------------------------------------------- Gears ---------------------------------------------------------------*/


#gear01 {
    position: absolute;
    left: 75%;
    margin-top: 17%;
    width: 60px;
    height: 60px;
    background-image: url(../img/intro/gearSm.png);
    z-index: 6;

    -webkit-animation-name: gear01; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: gear01;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gear01{
    0%   {left:75%; top:800px;}
    100% {left:75%; top:0;}
}

/* Standard syntax */
@keyframes gear01{
    0%   {left:75%; top:800px;}
    100% {left:75%; top:0;}
}

#gear02 {
    position: absolute;
    left: 76%;
    margin-top: 19%;
    width: 80px;
    height: 80px;
    background-image: url(../img/intro/gearMed.png);
    z-index: 5;

    -webkit-animation-name: gear02; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.6s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: gear02;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gear02{
    0%   {left:76%; top:800px;}
    100% {left:76%; top:0;}
}

/* Standard syntax */
@keyframes gear02{
    0%   {left:76%; top:800px;}
    100% {left:76%; top:0;}
}

#gear03 {
    position: absolute;
    left: 72%;
    margin-top: 25%;
    width: 120px;
    height: 120px;
    background-image: url(../img/intro/gearXLg.png);
    transform: rotate(25deg);

    -webkit-animation-name: gear03; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.9s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: gear03;
    animation-duration: 1.9s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gear03{
    0%   {left:72%; top:800px;}
    100% {left:72%; top:0;}
}

/* Standard syntax */
@keyframes gear03{
    0%   {left:72%; top:800px;}
    100% {left:72%; top:0;}
}

#gear04 {
    position: absolute;
    left: 70%;
    margin-top: 29%;
    width: 60px;
    height: 60px;
    background-image: url(../img/intro/gearSm.png);

    -webkit-animation-name: gear04; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: gear04;
    animation-duration: 2.1s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gear04{
    0%   {left:70%; top:800px;}
    100% {left:70%; top:0;}
}

/* Standard syntax */
@keyframes gear04{
    0%   {left:70%; top:800px;}
    100% {left:70%; top:0;}
}


#gear05 {
    position: absolute;
    left: 74%;
    margin-top: 32%;
    width: 80px;
    height: 80px;
    background-image: url(../img/intro/gearMed.png);

    -webkit-animation-name: gear05; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.8s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: gear05;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gear05{
    0%   {left:74%; top:800px;}
    100% {left:74%; top:0;}
}

/* Standard syntax */
@keyframes gear05{
    0%   {left:74%; top:800px;}
    100% {left:74%; top:0;}
}

#gear06 {
    position: absolute;
    left: 58%;
    margin-top: 32%;
    width: 200px;
    height: 200px;
    background-image: url(../img/intro/gearXXLg.png);
    transform: rotate(35deg);
    z-index: 2;

    -webkit-animation-name: gear06; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: gear06;
    animation-duration: 2.2s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gear06{
    0%   {left:58%; top:800px;}
    100% {left:58%; top:0;}
}

/* Standard syntax */
@keyframes gear06{
    0%   {left:58%; top:800px;}
    100% {left:58%; top:0;}
}


#gear07 {
    position: absolute;
    left: 53%;
    margin-top: 35%;
    width: 120px;
    height: 120px;
    background-image: url(../img/intro/gearXLg.png);
    transform: rotate(35deg);
    z-index: 3;

    -webkit-animation-name: gear07; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.6s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: gear07;
    animation-duration: 2.6s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gear07{
    0%   {left:53%; top:800px;}
    100% {left:53%; top:0;}
}

/* Standard syntax */
@keyframes gear07{
    0%   {left:53%; top:800px;}
    100% {left:53%; top:0;}
}

/*======================================================== Scroll Down Arrow ===============================================*/

#scroll {
    margin-top: 1%;
    margin-left: 32%;
}

#downArrow{
    margin-top: 0;
    margin-left: 65%;
    border-right:2px solid white;
    border-bottom:2px solid white;
    width:20px;
    height:20px;
    transform: rotate(45deg);
}

#downTriangle{
    margin-top: -2%;
    margin-left: 65%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

