/*************************************************
*              Sub-Pages                          *
**************************************************/

#process .row .imagery, #identity .row .imagery, #marketing .row .imagery, #packaging .row .imagery, #publication .row .imagery, #typography .row .imagery {
    text-align: center;
}

#process_intro, #identity_intro, #marketing_intro, #packaging_intro, #publication_intro, #typography_intro {
    padding-top: 15px;
}

#process_intro .row, #identity_intro .row, #marketing_intro .row, #packaging_intro .row, #publication_intro .row, #typography_intro .row {
    padding: 0;
}

#process_intro .row .col-md-4, #identity_intro .row .col-md-4, #marketing_intro .row .col-md-4,
#packaging_intro .row .col-md-4, #publication_intro .row .col-md-4,
#typography_intro .row .col-md-4{
    margin-bottom: 15px;
}

#process_intro .card-header, #identity_intro .card-header, #identity_intro .card-header, #marketing_intro .card-header,
#packaging_intro .card-header, #publication_intro .card-header,
#typography_intro .card-header{
    font-family: "Cinzel", sans-serif;
    color: rgb(194,198,210);
    height: 55px;
    text-align: center;
}

#identity_intro .card-header {
    background-color: rgb(65,11,56);

}

#marketing_intro .card-header {
    background-color: rgb(105,137,40);
}

#packaging_intro .card-header {
    background-color: rgb(49,61,23);
}

#process_intro .card-header {
    background-color: rgb(139,79,23);
}

#publication_intro .card-header {
    background-color: rgb(22,67,104);
}

#typography_intro .card-header {
    background-color: rgb(5,36,62);
}

#process_intro .card-header .main-heading, #identity_intro .card-header .main-heading, #marketing_intro .card-header .main-heading,
#packaging_intro .card-header .main-heading, #publication_intro .card-header .main-heading,
#typography_intro .card-header .main-heading {
    font-size: 2.5em;
}

#process_intro .card-header .sub-heading, #identity_intro .card-header .sub-heading, #marketing_intro .card-header .sub-heading,
#packaging_intro .card-header .sub-heading, #publication_intro .card-header .sub-heading,
#typography_intro .card-header .sub-heading{
    font-size: 1em;
    margin-top: -15px;
    font-weight: 900;
}

#process_intro .card-body,  #marketing_intro .card-body,
#packaging_intro .card-body, #publication_intro .card-body,
#typography_intro .card-body{
    background-color: rgb(26, 45, 54);
    text-align: center;
}

#process_intro .card-body img, #identity_intro .card-body img, #marketing_intro .card-body img,
#packaging_intro .card-body img, #publication_intro .card-body img,
#typography_intro .card-body img{
    width: 100%;
}

.row a .hover-effect {
    position: absolute;
    z-index: 998;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    cursor: pointer;
    webkit-transition-property: background;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
    -moz-transition-property: background;
    -moz-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
    -ms-transition-property: background;
    -ms-transition-duration: .2s;
    -ms-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
    -o-transition-property: background;
    -o-transition-duration: .2s;
    -o-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.33, 0, .2, 1);
}

.row .col-md-4:hover a .hover-effect {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
}

@media (min-width: 768px) {
    #identity .carousel-indicators {
        bottom: -85px;
    }
}